@charset "UTF-8";
/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --item-check: greenyellow;
  --main-bg: #3B1719;
  --submain-bg: #69140e;
  --popup-and-title-bg: #a44200;
  --btn-bg: #d58936;
  --btn-font-and-border: #fff94f;
  --item-bg: #fff94f1a;
}

.dark {
  --item-check: greenyellow;
  --main-bg: #eeeeeee;
  --submain-bg: #aaaaaa;
  --popup-and-title-bg: #dddddd;
  --btn-bg: #eeeeee;
  --btn-font-and-border: #666666;
  --item-bg: #dddddd;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: var(--item-check);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

@media (max-width: 769px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
::-webkit-scrollbar-thumb {
  background: var(--btn-bg);
  border-radius: 20px;
}

body,
html {
  height: 100vh;
  color: var(--btn-bg);
  user-select: none;
}

body {
  background-color: var(--main-bg);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-weight: inherit;
}

button:not(.btn) {
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

summary {
  cursor: pointer;
}

input:disabled,
input:disabled ~ .custom-checkbox,
button:disabled,
textarea:disabled {
  cursor: auto;
}

/* Additional */
.hide {
  display: none;
  z-index: -100;
  user-select: none;
  opacity: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
  /* transition: opacity 0.3s; */
}

/* Btn */
.btn {
  background-color: var(--btn-bg);
  border-radius: 15px;
  color: var(--btn-font-and-border);
  outline: none;
  border: 1px solid var(--btn-font-and-border);
  line-height: 30px;
  padding: 0 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-small {
  padding: 0 10px;
  line-height: 20px;
  font-size: 10px;
  letter-spacing: 0.4px;
}

.btn:hover {
  background-color: transparent;
}

.btn:disabled {
  filter: brightness(0.6);
  cursor: auto;
}

.btn:disabled:hover {
  background-color: var(--btn-bg);
}

/* Global blocks */
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 3vh 5vw 0;
}

.wrapper > div {
  flex: 0 1 50%;
  justify-content: space-evenly;
}

.inner {
  display: flex;
  flex-wrap: wrap;
}

.inner > div {
  min-width: 200px;
  background-color: var(--submain-bg);
  height: max-content;
  margin: 0 10px;
  border-radius: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.inner > div:last-child {
  margin-bottom: 0;
}

.inner > div > .btn {
  width: 100%;
  border-radius: 20px 20px 0 0;
  box-shadow: black 0px 6px 20px -10px;
}

@media (max-width: 1012px) {
  .wrapper > div {
    align-content: space-between;
  }
}
@media (max-width: 670px) {
  .wrapper {
    flex-wrap: wrap-reverse;
  }
  .wrapper > div {
    flex: 0 1 100%;
  }

  .elements {
    margin-right: 0 !important;
  }

  .inner > div:last-child {
    margin-bottom: 10px;
  }
}
@media (max-width: 495px) {
  .inner > div {
    flex: 0 1 100%;
    margin: 0 0 10px;
  }

  .elements {
    min-width: 250px !important;
  }
}
.inner summary {
  text-align: center;
}

/* List */
.list {
  position: relative;
  margin: 0 4px 10px 8px;
  padding-bottom: 10px;
  overflow: hidden auto;
  list-style: none;
}

.list li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 7px 7px 4px;
  margin: 0 10px;
  border-bottom: 1px solid;
  cursor: pointer;
  transition: background-color 0.3s, font-size 0.3s, margin 0.3s, color 0.3s;
}

.list li.active {
  z-index: 11;
  font-size: 16px;
  background-color: var(--item-bg);
}

.list:before {
  content: "Пусто";
  position: absolute;
  letter-spacing: 2.5px;
  font-size: 14px;
  opacity: 0.4;
  width: 100%;
  text-align: center;
  visibility: hidden;
}

.list:empty {
  padding: 0;
  margin: 10px 0;
  height: 20px;
}

.list:empty::before {
  visibility: visible;
}

.list li:last-child:not(:first-child) .context-menu {
  top: -25px;
}

button:not(.btn):hover {
  color: var(--btn-font-and-border);
}

@media (max-width: 769px) {
  button:not(.btn):hover {
    color: inherit;
  }

  button:not(.btn):hover {
    color: var(--btn-font-and-border);
  }

  .btn:hover {
    background-color: var(--btn-bg);
  }

  .btn:active {
    background-color: transparent;
  }
}
.header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: var(--submain-bg);
  padding: 8px 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: black 0px -10px 25px 2px;
  z-index: 12;
}

.header__logo {
  filter: hue-rotate(205deg) brightness(1.5) saturate(0.6);
  opacity: 0.5;
}

.header__logo img {
  max-height: 1.4em;
}

.header button {
  font-size: 1.4em;
  margin-left: 10px;
  cursor: pointer;
}

.elements {
  height: min-content;
  min-width: 350px;
  font-size: 14px;
  padding-bottom: 10px;
  margin-right: 30px;
  border-radius: 20px;
  background-color: var(--submain-bg);
}
.elements__title {
  width: 100%;
  padding: 10px 0px;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  border-radius: 20px 20px 0px 0px;
  background-color: var(--popup-and-title-bg);
}
.elements__menu {
  margin: -11px 10px 0px;
}
.elements__menu button {
  margin-bottom: 7px;
}
.elements__menu .select-all,
.elements__menu .unselect-all {
  position: relative;
  z-index: 11;
  transition: all 0.3s;
}

.elements__list {
  position: relative;
  max-height: 67vh;
  z-index: 11;
}
.elements__list:before {
  content: "Немає елементів";
  font-size: 18px;
  letter-spacing: 4px;
}
.elements__list:empty {
  margin: 6px 0;
  height: 25px;
}
.elements__list-active li:not(.active) {
  opacity: 0.5;
  pointer-events: none;
}

.elements__item button {
  font-size: 18px;
}
.elements__item.active button {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.elements__item.check {
  transition: all 0.3s;
  color: var(--item-check);
  margin-left: 0px;
}
.elements__item.check span {
  color: var(--item-check);
}
.elements__item.check::marker {
  content: "";
}
.elements__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.elements__item-btns {
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 400px) {
  .elements__menu {
    text-align: center;
  }

  .elements__item button {
    font-size: 20px;
  }
}
.save__menu {
  margin-top: 5px;
}

.save__menu button.btn {
  width: auto;
  padding: 0 8px;
  line-height: 15px;
}

.save__list {
  padding: 0 10px;
  margin: 10px 4px;
  max-height: 33vh;
}

.save__list::before {
  content: "Немає збережень";
}

.save__list:empty {
  margin: 12px 0 0 0;
}

.save__item {
  font-size: 15px;
  margin: 0 !important;
}

.save__item button {
  font-size: 16px;
}

li.save__item.active {
  font-size: 15px;
  z-index: auto;
}

.save__item.active .fa-check-circle {
  pointer-events: none;
  color: var(--btn-font-and-border);
}

.save__item-name {
  margin-right: 5px;
  width: 100%;
}
.save__item-name:focus {
  border-radius: 2px;
  outline: ridge 2px;
  outline-offset: 2px;
}

@media (max-width: 769px) {
  .save__item button {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .save__item button {
    font-size: 20px;
  }
}
.choose__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  width: 400px;
  /* max-height: 80vh; */
  opacity: 0;
  transition: opacity 0.3s;
}

.choose__wrapper ol {
  list-style-type: none;
}

.choose__inner {
  max-height: 85vh;
  background-color: var(--submain-bg);
  border-radius: 20px;
  padding-bottom: 20px;
}

#search {
  color: var(--btn-font-and-border);
  background-color: var(--btn-bg);
  outline: none;
  border: none;
  padding: 9px 15px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  font-size: 18px;
}

#search::placeholder {
  color: #fff;
  font-size: 16px;
  opacity: 0.4;
}

.choose__list {
  overflow: hidden auto;
  margin: 10px 4px 0 0;
  max-height: 75vh;
  padding-bottom: 0;
  font-size: 18px;
}

.choose__sublist-wrapper {
  margin-bottom: 5px;
}

.choose__sublist-wrapper summary {
  list-style-type: none;
  text-align: center;
  padding: 0 5px;
  line-height: 30px;
  font-size: 20px;
  background-color: var(--item-bg);
}

.choose__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choose__item i {
  font-size: 22px;
  position: relative;
}

/* .choose__sublist {} */
/* .choose__sublist li {} */
.choose__btn-close {
  position: fixed;
  font-size: 40px;
  top: 60px;
  right: 10px;
  z-index: 11;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.choose__btn-apply {
  position: fixed;
  z-index: 12;
  top: 93.5%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: 200px;
}

i.fas.fa-square:after {
  position: absolute;
  font-size: 14px;
  content: attr(data-number);
  top: 50%;
  left: 50%;
  color: var(--submain-bg);
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@media (max-width: 769px) {
  .choose_wrapepr {
    width: 350px;
  }

  .choose__list {
    font-size: 16px;
  }

  .choose__sublist-wrapper summary {
    font-size: 18px;
  }

  .choose__item i {
    font-size: 20px;
  }

  #search {
    font-size: 16px;
  }

  #search::placeholder {
    font-size: 14px;
  }
}
@media (max-width: 426px) {
  .choose__wrapper {
    width: 90%;
  }

  .choose__btn-close {
    top: 0px;
    right: 4px;
  }
}
.random__more summary,
.choose__more summary {
  cursor: pointer;
  outline: none;
  margin-bottom: 5px;
}

.random__more .more__wrapper,
.choose__more .more__wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0px 8px 5px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.random__more .more__wrapper *,
.choose__more .more__wrapper * {
  cursor: pointer;
}

.random__more .more__wrapper label,
.choose__more .more__wrapper label {
  position: relative;
  display: flex;
  justify-content: space-between;
  line-height: 22px;
}

.random__more .more__wrapper label .custom-checkbox,
.choose__more .more__wrapper label .custom-checkbox,
.random__more .more__wrapper label input#count,
.choose__more .more__wrapper label input#count {
  height: 22px;
  width: 22px;
  background-color: var(--btn-bg);
  border: solid var(--submain-bg) 1px;
}

.random__more .more__wrapper label .custom-checkbox::after,
.choose__more .more__wrapper label .custom-checkbox::after {
  content: "";
  position: absolute;
  display: none;
}

.random__more .more__wrapper label input,
.choose__more .more__wrapper label input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.random__more .more__wrapper label input#count,
.choose__more .more__wrapper label input#count {
  right: 0;
  opacity: 1;
  text-align: center;
  -moz-appearance: textfield;
  outline: none;
  color: var(--submain-bg);
}

.random__more .more__wrapper label input#count:disabled,
.choose__more .more__wrapper label input#count:disabled {
  opacity: 0.3;
}

.random__more .more__wrapper label input#count::-webkit-outer-spin-button,
.random__more .more__wrapper label input#count::-webkit-inner-spin-button,
.choose__more .more__wrapper label input#count::-webkit-outer-spin-button,
.choose__more .more__wrapper label input#count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.random__more .more__wrapper label input:checked ~ .custom-checkbox,
.choose__more .more__wrapper label input:checked ~ .custom-checkbox {
  background-color: var(--submain-bg);
}

.random__more .more__wrapper label input:checked ~ .custom-checkbox::after,
.choose__more .more__wrapper label input:checked ~ .custom-checkbox::after {
  display: block;
}

.random__more .more__wrapper label input:disabled ~ .custom-checkbox,
.choose__more .more__wrapper label input:disabled ~ .custom-checkbox {
  opacity: 0.3;
}

.random__more .more__wrapper label .custom-checkbox:after,
.choose__more .more__wrapper label .custom-checkbox:after {
  right: 7px;
  top: 0px;
  width: 8px;
  height: 16px;
  border: solid var(--btn-bg);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.random__simple-btn,
.choose__simple-btn {
  padding: 0 30px;
  margin-bottom: 10px;
}

@media (max-width: 460px) {
  .random__more .more__wrapper,
.choose__more .more__wrapper {
    font-size: 14px;
    font-weight: 500;
  }
}
/** POPUP */
.popup {
  position: fixed;
  top: -150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 360px;
  text-align: center;
  line-height: 24px;
  font-size: 20px;
  border-radius: 50px;
  background-color: var(--popup-and-title-bg);
  box-shadow: 0px 0px 25px 3px rgba(37, 37, 37, 0.5);
  transition: top 0.4s;
  z-index: 13;
}

.dark-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s;
}

.popup__title,
.popup__subtitle {
  font-size: 16px;
  display: inline-block;
}

#prompt-response {
  border: none;
  outline: none;
  max-width: 130px;
  padding: 5px;
}

.popup__btns {
  display: inline-block;
}

@media (max-width: 400px) {
  .popup {
    margin: 0 5vw;
  }
}
.context-menu {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 25px;
  background-color: var(--popup-and-title-bg);
  border-radius: 6px;
}
.context-menu__opener {
  padding: 0 4px;
}
.context-menu__btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
}
.context-menu__btn:first-child {
  border-radius: 6px 6px 0 0;
}
.context-menu__btn:last-child {
  border-radius: 0 0 6px 6px;
}
.context-menu__btn:hover {
  background-color: var(--btn-bg);
}
.context-menu__btn-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-left: 7px;
}

@media (max-width: 769px) {
  .context-menu__btn:hover {
    background-color: inherit;
  }

  .context-menu__btn:active {
    background-color: var(--btn-bg);
  }
}
.draggable-mirror {
  min-width: 200px;
  display: none;
}

.draggable-mirror.active {
  transition: none;
  display: block;
}

/* .draggable-mirror::marker {
	content: "";
}

.draggable-source--is-dragging::marker {
	content: "";
} */
.draggable-source--is-dragging:not(.active) {
  opacity: 0;
}

.draggable-container--is-dragging .jump {
  opacity: 0.5;
}

.draggable-container--is-dragging .context-menu {
  display: none;
}

/*# sourceMappingURL=main.css.map */
