.choose {
	&__wrapper {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 11;
		max-width: 400px;
		width: 100%;
		opacity: 0;
		transition: opacity .3s;
	}

	&__inner {
		max-height: 85vh;
		background-color: var(--submain-bg);
		border-radius: 20px;
		padding-bottom: 20px;
	}

	&__list {
		overflow: hidden auto;
		margin: 10px 10px 0;
		max-height: 75vh;
		padding-bottom: 0;
		font-size: 18px;
	}

	&__item {
		transition: none !important;

		button {
			font-size: 22px;
			position: relative;
		}
	}

	&__sublist-wrapper {
		margin-bottom: 5px;

		summary {
			list-style-type: none;
			text-align: center;
			padding: 0 5px;
			line-height: 30px;
			font-size: 20px;
			background-color: var(--item-bg);
		}
	}

	&__btn {
		&-close {
			font-size: 40px !important;
			top: 45px;
			right: 10px;
		}

		&-apply {
			position: fixed;
			top: 93.5%;
			left: 50%;
			transform: translateX(-50%);
			width: 200px;
		}
	}
}

[class*="choose__btn"] {
	position: fixed;
	z-index: 12;
	opacity: 0;
	transition: opacity .3s;
}

#search {
	color: var(--btn-font-and-border);
	background-color: var(--btn-bg);
	outline: none;
	border: none;
	padding: 9px 15px;
	border-radius: 20px 20px 0 0;
	width: 100%;
	font-size: 18px;

	&::placeholder {
		color: #fff;
		font-size: 16px;
		opacity: 0.4;
	}
}

button.fas.fa-square:after {
	content: attr(data-number);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: var(--submain-bg);
}

@media (max-width: 769px) {
	.choose__wrapper {
		top: 15%;
		transform: translate(-50%, 0);
		max-width: 350px;
	}

	.choose__list {
		max-height: 65vh;
		font-size: 16px;
	}

	.choose__sublist-wrapper summary {
		font-size: 18px;
		cursor: pointer;
	}

	.choose__item button {
		font-size: 20px;
	}

	#search {
		font-size: 16px;
	}

	#search::placeholder {
		font-size: 14px;
	}
}

@media (max-width: 426px) {
	.choose__wrapper {
		width: 90%;
	}
}