.context-menu {
	position: absolute;
	z-index: 100;
	top: 5px;
	right: 25px;
	background-color: $surface-title;
	border-radius: 6px;

	&__opener {
		padding: 0 4px;
	}

	&__btn {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 5px;

		&:first-child {
			border-radius: 6px 6px 0 0;
		}

		&:last-child {
			border-radius: 0 0 6px 6px;
		}

		&:hover {
			background-color: $primary;
		}

		&-name {
			font-family: "Roboto", sans-serif;
			font-weight: 500;
			font-size: 14px;
			margin-left: 7px;
		}
	}

}

@media (max-width: 769px) {

	.context-menu__btn:hover {
		background-color: inherit;
	}

	.context-menu__btn:active {
		background-color: $primary;
	}
}