.draggable {
	&-mirror {
		min-width: 200px;
		visibility: hidden;

		&.active {
			transition: none;
			visibility: visible;

			>button {
				display: none;
			}
		}
	}

	&-source--is-dragging:not(.active) {
		opacity: 0;
	}

	&-container--is-dragging {
		.jump {
			opacity: .5;
		}

		.context-menu {
			display: none;
		}
	}
}