.elements {
	height: min-content;
	min-width: 350px;
	font-size: 14px;
	padding-bottom: 10px;
	margin-right: 30px;
	border-radius: 20px;
	background-color: var(--submain-bg);

	&__title {
		width: 100%;
		padding: 10px 0px;
		font-size: 40px;
		text-align: center;
		letter-spacing: 3px;
		border-radius: 20px 20px 0px 0px;
		background-color: var(--popup-and-title-bg);
	}

	&__menu {
		margin: -11px 10px 0px;

		button {
			margin-bottom: 7px;
		}

		.select-all,
		.unselect-all {
			position: relative;
			z-index: 11;
			transition: all 0.3s;
		}
	}
}

.elements__list {
	position: relative;
	max-height: 67vh;
	z-index: 11;

	&:before {
		content: 'Немає елементів';
		font-size: 18px;
		letter-spacing: 4px;
	}

	&:empty {
		margin: 6px 0;
		height: 25px;
	}

	&-active li:not(.active) {
		opacity: 0.5;
		pointer-events: none;
	}
}

.elements__item {
	button {
		font-size: 18px;

	}

	&.active button {
		opacity: 0;
		transition: opacity 0.3s;
		pointer-events: none;
	}

	&.check {
		transition: all 0.3s;
		color: var(--item-check);
		margin-left: 0px;

		span {
			color: var(--item-check);
		}

		&::marker {
			content: "";
		}
	}

	// &-wrapper {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-items: center;
	// }

	&-btns {
		display: flex;
		flex-wrap: nowrap;
	}
}

@media (max-width: 400px) {
	.elements__menu {
		text-align: center;
	}

	.elements__item button {
		font-size: 20px;
	}
}