.header {
	position: sticky;
	left: 0;
	top: 0;
	background-color: var(--submain-bg);
	padding: 8px 5vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: black 0px -10px 25px 2px;
	z-index: 999;
}

.header .logo {
	filter: hue-rotate(205deg) brightness(1.5) saturate(0.6);
	opacity: .5;
}

.logo img {
	max-height: 1.4em
}

.header i {
	font-size: 1.4em;
	margin-left: 10px;
	cursor: pointer;
}