.header {
	position: sticky;
	left: 0;
	top: 0;
	z-index: 12;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 5vw;
	background-color: $surface;
	box-shadow: black 0px 10px 20px -15px;

	&__logo {
		img {
			max-height: 1.4em;
			filter: brightness(2) grayscale(0.9) hue-rotate(130deg) drop-shadow(2px 2px 4px black) opacity(0.5);
		}
	}

	button {
		font-size: 1.4em;
		margin-left: 10px;
	}
}

#switch-theme:active {
	color: inherit;
}