/** POPUP */
.popup {
	position: fixed;
	top: -150px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 10px 20px;
	max-width: 360px;
	text-align: center;
	line-height: 24px;
	font-size: 20px;
	border-radius: 50px;
	background-color: var(--popup-and-title-bg);
	box-shadow: 0px 0px 25px 3px rgba(37, 37, 37, 0.5);
	transition: top 0.4s;
	z-index: 13;
}

.dark-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0;
	z-index: 10;
	transition: opacity 0.3s;
}

.popup__title,
.popup__subtitle {
	font-size: 16px;
	display: inline-block;
}

#prompt-response {
	border: none;
	outline: none;
	max-width: 130px;
	padding: 5px;
}

.popup__btns {
	display: inline-block;
}

@media (max-width: 400px) {
	.popup {
		margin: 0 5vw;
	}
}