.save {
	&__menu {
		margin-top: 5px;

		button.btn {
			width: auto;
			padding: 0 8px;
			line-height: 15px;
		}
	}

	&__simple-btn {
		margin-bottom: 0 !important;
	}

	&__list {
		padding: 0 10px;
		margin: 10px 4px;
		max-height: 43vh;

		&::before {
			content: 'Немає збережень';
		}

		&:empty {
			margin: 12px 0 0 0;
		}
	}

	&__item {
		font-size: 15px;
		margin: 0 !important;

		&.active {
			font-size: 16px;
			z-index: auto;

			.fa-check-circle {
				pointer-events: none;
				color: var(--btn-font-and-border);
			}
		}

		button {
			font-size: 16px;
		}

		&-name {
			margin-right: 5px;
			width: 100%;

			&:focus {
				border-radius: 2px;
				outline: ridge 2px;
				outline-offset: 2px;
			}
		}
	}
}

@media (max-width: 1012px) {
	.save__list {
		max-height: 23vh;
	}
}

@media (max-width: 769px) {

	.save__item button {
		font-size: 18px;
	}
}

@media (max-width: 400px) {

	.save__item button {
		font-size: 20px;
	}
}