/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
	--item-check: greenyellow;
	--main-bg: #3B1719;
	--submain-bg: #69140e;
	--popup-and-title-bg: #a44200;
	--btn-bg: #d58936;
	--btn-font-and-border: #fff94f;
	--item-bg: #fff94f1a;
}

.dark {
	--item-check: greenyellow;
	--main-bg: #eeeeeee;
	--submain-bg: #aaaaaa;
	--popup-and-title-bg: #dddddd;
	--btn-bg: #eeeeee;
	--btn-font-and-border: #666666;
	--item-bg: #dddddd;
}

$item-check: var(--item-check);
$check-sign-color: var(--check-sign-color);


*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: $item-check;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	background: transparent;
	width: 8px;
}

@media (max-width: 769px) {
	::-webkit-scrollbar {
		width: 5px;
	}
}

::-webkit-scrollbar-thumb {
	background: var(--btn-bg);
	border-radius: 20px;
}

body,
html {
	height: 100vh;
	color: var(--btn-bg);
	user-select: none;
}

body {
	background-color: var(--main-bg);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

input,
button,
textarea {
	font-family: "Roboto", sans-serif;
	font-weight: inherit;
}

button:not(.btn) {
	background: none;
	border: none;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
}

summary {
	cursor: pointer;
}

input:disabled,
input:disabled~.custom-checkbox,
button:disabled,
textarea:disabled {
	cursor: auto;
}

/* Additional */

.hide {
	display: none;
	z-index: -100;
	user-select: none;
	opacity: 0;
	width: 1px;
	height: 1px;
	visibility: hidden;
	/* transition: opacity 0.3s; */
}

/* Btn */

.btn {
	background-color: var(--btn-bg);
	border-radius: 15px;
	color: var(--btn-font-and-border);
	outline: none;
	border: 1px solid var(--btn-font-and-border);
	line-height: 30px;
	padding: 0 15px;
	text-transform: uppercase;
	cursor: pointer;
	// transition: background-color 0.3s;
}

.btn-small {
	padding: 0 10px;
	line-height: 20px;
	font-size: 10px;
	letter-spacing: 0.4px;
}

.btn:hover {
	background-color: transparent;
}

.btn:disabled {
	filter: brightness(.6);
	cursor: auto;
}

.btn:disabled:hover {
	background-color: var(--btn-bg);
}

/* Global blocks */

.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 3vh 5vw 0;
}

.wrapper>div {
	flex: 0 1 50%;
	justify-content: space-evenly;
}


.inner {
	display: flex;
	flex-wrap: wrap;
}

.inner>div {
	min-width: 200px;
	background-color: var(--submain-bg);
	height: max-content;
	margin: 0 10px;
	border-radius: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.inner>div>.btn {
	width: 100%;
	border-radius: 20px 20px 0 0;
	box-shadow: black 0px 6px 20px -10px;
}

@media (max-width: 1012px) {
	.wrapper>div {
		align-content: space-between;
	}
}

@media (max-width: 670px) {
	.wrapper {
		flex-wrap: wrap-reverse;

		&>div {
			flex: 0 1 100%;
		}
	}

	.elements {
		margin-right: 0 !important;
	}

	.inner>div:last-child {
		margin-bottom: 10px;
	}
}

@media (max-width: 495px) {
	.inner>div {
		flex: 0 1 100%;
		margin: 0 0 10px;
	}

	.elements {
		min-width: 250px !important;
	}
}

.inner summary {
	text-align: center;
}

/* List */

.list {
	position: relative;
	margin: 0 4px 10px 8px;
	padding-bottom: 10px;
	overflow: hidden auto;
	list-style: none;
}

.list li {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 7px 7px 4px;
	margin: 0 10px;
	border-bottom: 1px solid;
	cursor: pointer;
	transition: background-color 0.3s, font-size 0.3s, margin 0.3s, color 0.3s;
}

.list li.active {
	z-index: 11;
	background-color: var(--item-bg);

	&:not([class*="draggable-"]) {
		font-size: 16px;
	}
}

.list:before {
	content: 'Пусто';
	position: absolute;
	letter-spacing: 2.5px;
	font-size: 14px;
	opacity: .4;
	width: 100%;
	text-align: center;
	visibility: hidden;
}

.list:empty {
	padding: 0;
	margin: 10px 0;
	height: 20px;
}

.list:empty::before {
	visibility: visible;
}

.list li:last-child:not(:first-child) .context-menu {
	top: -25px;
}

button:not(.btn):hover {
	color: var(--btn-font-and-border);
}

@media (max-width: 769px) {

	button:not(.btn):hover {
		color: inherit;
	}

	button:not(.btn):hover {
		color: var(--btn-font-and-border);
	}

	.btn:hover {
		background-color: var(--btn-bg);
	}

	.btn:active {
		background-color: transparent;
	}
}

@import "header";
@import "elements";
@import "saves";
@import "choose";
@import "custom";
@import "popup";
@import "context-menu";
@import "draggable";