/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.dark {
	--background: #F0F5F9;
	--surface: #52616B;
	--surface-title: #434f57;
	--primary: #C9D6DF;
	--secondary: #666666;
	--warning: #aa0000;
	--btn-color: #1E2022;
	--active-bg: #acacac60;
	--check: blue;
	--scroll-color: #C9D6DF;
	--hover: #ffffff;
}

.light {
	--background: #F0F5F9;
	--surface: #52616B;
	--surface-title: #434f57;
	--primary: #C9D6DF;
	--secondary: #666666;
	--warning: #aa0000;
	--btn-color: #1E2022;
	--active-bg: #434f57e0;
	--check: blue;
	--scroll-color: #C9D6DF;
	--hover: #ffffff;
	// #F0F5F9
	// #C9D6DF
	// #52616B
	// #1E2022
}

// $my: darken(#52616B, 7%);
$background: var(--background);
$surface: var(--surface);
$surface-title: var(--surface-title);
$primary: var(--primary);
$secondary: var(--secondary);
$warning: var(--warning);
$btn-color: var(--btn-color);
$active-bg: var(--active-bg);
$check: var(--check);
$hover: var(--hover);
$scroll-color: var(--scroll-color);






*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	background: transparent;
	width: 8px;

	&-thumb {
		background: $scroll-color;
		border-radius: 20px;
	}
}

@media (max-width: 769px) {
	::-webkit-scrollbar {
		width: 5px;
	}
}


body,
html {
	height: 100vh;
	color: $primary;
	user-select: none;
}

body {
	background-color: $background;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

body::-webkit-scrollbar {
	&-thumb {
		background: $surface;
	}
}

input,
button,
textarea {
	font-family: "Roboto", sans-serif;
	font-weight: inherit;
}

button:not(.btn) {
	background: none;
	border: none;
	font-size: inherit;
	color: inherit;
	cursor: pointer;

	&:focus {
		color: inherit;
	}
}

button:not(.btn):hover {
	color: $hover;
}

input:disabled,
input:disabled~.custom-checkbox,
button:disabled,
textarea:disabled {
	cursor: auto;
}

/* Additional */

.hide {
	display: none;
	z-index: -100;
	user-select: none;
	opacity: 0;
	width: 1px;
	height: 1px;
	visibility: hidden;
	/* transition: opacity 0.3s; */
}

/* Btn */

.btn {
	background-color: $primary;
	border-radius: 15px;
	color: $btn-color;
	outline: none;
	border: 1px solid $btn-color;
	line-height: 30px;
	padding: 0 15px;
	text-transform: uppercase;
	cursor: pointer;

	&-small {
		padding: 0 10px;
		line-height: 20px;
		font-size: 10px;
		letter-spacing: 0.4px;
	}

	&:hover {
		background-color: transparent;
		color: $primary;
		border-color: $primary;
	}

	.btn:disabled {
		filter: brightness(.6);
		cursor: auto;

		&:hover {
			background-color: $primary;
		}
	}
}



/* Global blocks */

.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 3vh 5vw 0;

	>div {
		flex: 0 1 50%;
		justify-content: space-evenly;
	}
}

.inner {
	display: flex;
	flex-wrap: wrap;

	>div {
		min-width: 200px;
		background-color: $surface;
		height: max-content;
		margin: 0 10px;
		border-radius: 20px;
		padding-bottom: 10px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		>.btn {
			width: 100%;
			border-radius: 20px 20px 0 0;
			box-shadow: black 0px 6px 20px -10px;
			margin-bottom: 10px;
		}
	}
}


@media (max-width: 1012px) {
	.wrapper>div {
		align-content: space-between;
	}
}

@media (max-width: 670px) {
	.wrapper {
		flex-wrap: wrap-reverse;

		&>div {
			flex: 0 1 100%;
		}
	}

	.elements {
		margin-right: 0 !important;
		margin-bottom: 20px;
	}

	.inner>div:last-child {
		margin-bottom: 10px;
	}
}

@media (max-width: 495px) {
	.inner>div {
		flex: 0 1 100%;
		margin: 0 0 10px;
	}

	.elements {
		min-width: 250px !important;
	}
}

/* List */

.list {
	position: relative;
	margin: 16px 4px 10px 8px;
	padding-bottom: 10px;
	overflow: hidden auto;
	list-style: none;

	&:before {
		content: 'Пусто';
		position: absolute;
		letter-spacing: 2.5px;
		font-size: 14px;
		opacity: .4;
		width: 100%;
		text-align: center;
		visibility: hidden;
	}

	&:empty {
		padding: 0;
		margin: 10px 0;
		height: 20px;

		&::before {
			visibility: visible;
		}
	}

	li {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 7px 7px 7px 4px;
		margin: 0 10px;
		border-bottom: 1px solid;
		cursor: pointer;
		transition: background-color 0.2s, font-size 0.2s, margin 0.2s, color 0.2s;

		&.active {
			z-index: 11;
			background-color: $active-bg;

			&:not([class*="draggable-"]) {
				font-size: 16px;
			}
		}

		li:last-child:not(:first-child) .context-menu {
			top: -25px;
		}
	}
}

@media (max-width: 769px) {

	button:not(.btn):hover {
		color: inherit;
	}

	button:not(.btn):active {
		color: $hover;
	}

	.btn:hover {
		background-color: $primary;
		color: $btn-color;
		border-color: $btn-color;
	}

	.btn:active {
		background-color: transparent;
		color: $primary;
		border-color: $primary;
	}
}

@import "header";
@import "elements";
@import "saves";
@import "choose";
@import "custom";
@import "popup";
@import "context-menu";
@import "draggable";