*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  color: #ffffff;
  user-select: none;
}

body {
  background-color: #3B1719;
  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
  z-index: -100;
  user-select: none;
  opacity: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
  transition: all 0.3s;
}

.btn {
  background-color: #d58936;
  border-radius: 15px;
  color: #fff94f;
  outline: none;
  border: 1px solid #fff94f;
  line-height: 30px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: transparent;
}
.btn-small {
  padding: 0 10px;
  line-height: 20px;
  font-size: 10px;
}
.btn:disabled {
  color: #cfc700;
  background-color: #734818;
  cursor: auto;
}

.popup {
  position: fixed;
  top: -120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 360px;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  font-size: 20px;
  border-radius: 30px;
  background-color: #a44200;
  box-shadow: 0px 0px 25px 3px rgba(37, 37, 37, 0.5);
  transition: top 0.4s;
  z-index: 11;
}
.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s;
}
.popup__title, .popup__subtitle {
  font-size: 16px;
  display: inline-block;
}
@media (max-width: 400px) {
  .popup__title, .popup__subtitle {
    line-height: normal;
  }
}
.popup__btns {
  display: inline-block;
}
@media (max-width: 400px) {
  .popup {
    margin: 0 5vw;
    padding: 3px 5px 10px;
    border-radius: 20px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5vw 5vw 0;
}
.wrapper > div {
  min-width: 200px;
  flex: 0 1 50%;
  margin: 0 15px;
}
@media (max-width: 955px) {
  .wrapper > div {
    flex: none;
  }
}
@media (max-width: 680px) {
  .wrapper {
    min-height: 100%;
    flex-wrap: wrap-reverse;
  }
  .wrapper > div {
    flex: 0 1 100%;
    margin: 0 0 15px;
  }
}

.inner {
  display: flex;
  flex-wrap: wrap;
}
.inner > div {
  min-width: 200px;
  text-align: center;
  background-color: #69140e;
  height: max-content;
  margin: 0 auto;
  border-radius: 18px;
  padding: 0 2px 10px 2px;
}
.inner > div .btn {
  width: 100%;
}
@media (max-width: 955px) {
  .inner > div {
    margin: 0 0 20px 0;
  }
  .inner > div:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 460px) {
  .inner > div {
    min-width: 175px;
  }
}
@media (max-width: 955px) {
  .inner {
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 680px) {
  .inner {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  .inner > div:last-child {
    margin-left: 10px;
  }
}
@media (max-width: 400px) {
  .inner {
    flex-wrap: wrap;
  }
  .inner > div {
    flex: 0 1 100%;
    margin: 0 0 10px;
  }
  .inner > div:last-child {
    margin-left: 0;
  }
}

.elements {
  border-radius: 20px;
  background-color: #69140e;
  width: 350px !important;
  font-size: 14px;
  height: min-content;
}
.elements__title {
  background-color: #a44200;
  width: 100%;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  font-size: 40px;
  padding: 10px 0px;
}
.elements__list {
  margin-left: 8px;
  padding: 10px 10px 10px 30px;
  max-height: 70vh;
  overflow: hidden auto;
  z-index: 11;
}
@media (max-width: 680px) {
  .elements__list {
    max-height: 290px;
  }
}
.elements__item {
  color: #d58836b6;
  font-weight: 700;
  cursor: pointer;
  padding: 7px 0;
  border-bottom: 1px solid;
  transition: all 0.3s;
}
.elements__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.elements__item i {
  font-size: 18px;
  transition: color 0.2s;
}
.elements__item i.fa-sync-alt:hover {
  color: rgba(0, 110, 255, 0.479);
}
.elements__item i.fa-minus-circle:hover {
  color: rgba(255, 0, 0, 0.548);
}
.elements__item.active {
  position: relative;
  z-index: 11;
  font-size: 16px;
  background-color: rgba(255, 249, 79, 0.1);
  transition: all 0.3s;
}
.elements__item.active span {
  color: #d58936 !important;
}
.elements__item.active .elements__item-btns > i {
  display: none;
}
.elements__item.check {
  transition: all 0.3s;
  border-bottom: 2px solid;
  color: greenyellow;
  margin-left: -20px;
}
.elements__item.check span {
  color: greenyellow !important;
}
.elements__item.check::marker {
  content: "";
}
.elements__save {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.elements__menu {
  margin-top: -11px;
}
.elements__menu .select-all {
  position: relative;
  z-index: 11;
  transition: all 0.3s;
}
@media (max-width: 400px) {
  .elements__menu {
    text-align: center;
  }
}

.random__more summary,
.custom__more summary {
  cursor: pointer;
  outline: none;
  margin-bottom: 5px;
}
.random__more .more__wrapper,
.custom__more .more__wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 5px;
}
.random__more .more__wrapper *,
.custom__more .more__wrapper * {
  cursor: pointer;
}
.random__more .more__wrapper label,
.custom__more .more__wrapper label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 28px;
}
.random__more .more__wrapper label .custom-checkbox,
.custom__more .more__wrapper label .custom-checkbox {
  position: absolute;
  top: 2px;
  right: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
}
.random__more .more__wrapper label .custom-checkbox::after,
.custom__more .more__wrapper label .custom-checkbox::after {
  content: "";
  position: absolute;
  display: none;
}
.random__more .more__wrapper label input,
.custom__more .more__wrapper label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.random__more .more__wrapper label input#count,
.custom__more .more__wrapper label input#count {
  position: static;
  opacity: 1;
  width: 22px;
  height: 22px;
  border: none;
  text-align: center;
  background-color: #eee;
  -moz-appearance: textfield;
  outline: none;
}
.random__more .more__wrapper label input#count:disabled,
.custom__more .more__wrapper label input#count:disabled {
  opacity: 0.3;
}
.random__more .more__wrapper label input#count::-webkit-outer-spin-button, .random__more .more__wrapper label input#count::-webkit-inner-spin-button,
.custom__more .more__wrapper label input#count::-webkit-outer-spin-button,
.custom__more .more__wrapper label input#count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.random__more .more__wrapper label input:checked ~ .custom-checkbox,
.custom__more .more__wrapper label input:checked ~ .custom-checkbox {
  background-color: #2196F3;
}
.random__more .more__wrapper label input:checked ~ .custom-checkbox::after,
.custom__more .more__wrapper label input:checked ~ .custom-checkbox::after {
  display: block;
}
.random__more .more__wrapper label input:disabled ~ .custom-checkbox,
.custom__more .more__wrapper label input:disabled ~ .custom-checkbox {
  opacity: 0.3;
}
.random__more .more__wrapper label .custom-checkbox:after,
.custom__more .more__wrapper label .custom-checkbox:after {
  left: 7px;
  top: 1px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.random__simple-btn,
.custom__simple-btn {
  padding: 0 30px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
